
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    background: #0d0d0d;
    font-family: 'Inter', sans-serif;
    color: black ;
}

.container{
    padding: 10px 10%;

}

 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
    background: #0d0d0d;
    
    
}

 .logo{
    width: 140px;
 }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
   nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: relative;

   }
    nav ul li a::after{
        content:'';
        width: 0%;
        height: 3px;
        background:#ED1C24;
        position: absolute;
        left: 0;
        bottom: -31px;
        transition: 0.5s;
    }
     nav ul li a:hover::after{
        width:100%;
     
     }

     .hero{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color:white;
        margin-bottom: 100px;
        position: relative;
        overflow: hidden;
        height: 60vh;
        min-width: 100vw;
     }
      .hero::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.75); /* Adjust opacity for darkness */
            z-index: 1;
        
      }
      .video-bg{
        position: absolute;
        
        top: 50%;
        left: 50%;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        transform: translate(-50%, -50%);
        z-index: 0;
      }

      h1{
        z-index: 2; 
        font-size: 67px;
        font-family: 'Gloock', serif;
        letter-spacing: 2px;
        text-align: center;
        position: relative; 
     
      }
      .white-section {
        background-color: #fff;
        display: flow-root;
        color: #000;
      }
      .image-wrapper {
        text-align: center;
     }
     .image-wrapper img{
      margin-top: 40px;
      height: 300px;
     }

     .text-row {
      background-color: #fff;
      color: #0d0d0d;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 20px 40px;
    }
    .right-text {
      margin-top: 104px;
      margin-right: 158px;
      font-size: 20px;
      color: #333;
    }
    .left-text {
      margin-top: 104px;
      margin-left: 158px;
      font-family: 'Gloock', serif;
      font-size: 40px;
      color: #333;
    }
    .image-container {
      background-color: #fff;
      width: 100%;  /* Take up the full width */
      display: block;  /* Block-level container to ensure it fills the parent */
      text-align: center;  /* Center the content inside */ 
    }
    
    .emoji {
      max-width: 100%;  /* Ensures image resizes responsively */
      height: auto;     /* Maintain aspect ratio */
    }
    